<!DOCTYPE html>
<html lang="en">
<style>

</style>

<head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <meta charset="UTF-8">
    <title>Departamento</title>
</head>

<body>
    <h1>Departamento</h1>
    <div>
        <form method="POST" action="{{ url_for('departamento') }}">
            <div>
                <label for=" ">ID:</label>
                <input type="text" id="DepID" name="DepID">
            </div>
            <div>
                <label for="nombre">nombre:</label>
                <input type="text" id="nombre" name="nombre">
            </div>
            <div>
                <label for="numOficina">Numero de Oficina:</label>
                <input type="number" id="numOficina" name="numOficina">
            </div>

            <div>
                <label for="telefono">telefono:</label>
                <input type="number" id="telefono" name="telefono">
            </div>


            <input type="submit" value="Insert">
        </form>
    </div>

    <hr>
    <h2>Search departamento</h2>
    <div class="inputs">
        <form method="GET" action="{{ url_for('departamento') }}">
            <!--Cambiar aqui-->
            <label for="DepsID">ID:</label>
            <input type="text" id="DepsID" name="DepsID">
            <label for="depName">Name:</label>
            <input type="text" id="depName" name="depName">
            <input type="submit" value="Submit">
        </form>
    </div>
    <table id="Departamento" style="width:100%">
        {% if result %}
        <tr>
            <th>DepID</th>
            <th>nombre</th>
            <th>numOficina</th>

            <th>telefono</th>
        </tr>
        {% for row in result %}
        <tr>
            <td> {{ row.DepID }}</td>
            <td> {{ row.nombre }}</td>
            <td> {{ row.numOficina }}</td>
            <td> {{ row.telefono }}</td>

        </tr>
        {% endfor %} {% endif %}
    </table>

    <hr>

    <h2>Borrar Departamento</h2>
    <form method="POST" action="{{ url_for('del_dep') }}">
        <!--Cambiar aqui-->
        <div>
            <label for="DelID">Curso ID:</label>
            <input type="text" id="DelID" name="DelID">
            <input type="submit" value="Submit">
        </div>
    </form>
</body>

</html>