<!DOCTYPE html>
<html lang="en">
<style>

</style>

<head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <meta charset="UTF-8">
    <title>ecoa</title>
</head>

<body>
    <div>
        <h1>Ecoa</h1>
    </div>
    <div>
        <form method="GET" action="{{ url_for('ecoa')}}">
            <div>
                <label for="nomina">No nomina:</label>
                <input type="text" id="nomina" name="nomina">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>


    <hr>
    <table id="ecoa" style="width:100%">
        {% if result %}
        <tr>
            <th>Resultado</th>
            <th>CursoNO</th>
            <th>Nombre</th>
            <th>GropNo</th>
            <th>Semestre</th>
            <th>año</th>
        </tr>
        {% for row in result %}
        <tr>
            <td> {{ row.rECOA }}</td>
            <td> {{ row.ID }}</td>
            <td> {{ row.nombre }}</td>
            <td>{{row.GrupoID}}</td>
            <td>{{row.semestre}}</td>
            <td>{{row.año}}</td>
        </tr>
        {% endfor %} {% endif %}
    </table>
</body>

</html>