<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Bases de Datos</title>
</head>

<body>
    <h1>University database </h1>
    <ul>
        <li>
            <a href="{{ url_for('students') }}">Lista de todos los estudiantes , agregar o borrar estudiantes </a>
        </li>
        <li><a href="{{ url_for('departamento') }}">Lista de todos los departamentos , agregar o borrar departamentos</a></li>
        <li><a href="{{ url_for('profesores') }}">Lista de todos los profesores , agregar o borrar profesores</a></li>
        <li><a href="{{ url_for('curso_por_alumno') }}">Cursos por alumno</a></li>
        <li><a href="{{ url_for('info_por_nomina') }}">Nómina, nombre del profesor y los cursos que ha impartido o imparte un profesor dada la nómina del profesor.</a></li>
        <li><a href="{{ url_for('horas_por_nomina') }}">Nómina y nombre del profesor con los horarios libres dado la nómina de un profesor</a></li>
        <li><a href="{{ url_for('ecoa') }}">Mostrar resultado de ECOAS con su número de curso, nombre, número de grupo, semestre y año dada la nómina de un profesor. Ordenado por año, semestre, número de curso y grupo</a></li>

    </ul>

</body>

</html>