<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Bases de Datos</title>
</head>

<body>
    <h1>University database </h1>
    <ul>
        <li>
            <a href="{{ url_for('students') }}">Lista de todos los estudiantes , agregar o borrar estudiantes </a>
        </li>
        <li><a href="{{ url_for('sp_members') }}">Get all members from a stored procedure!</a></li>
        <li><a href="{{ url_for('top_and_bottom') }}">Get the members with the most and less rents</a></li>
    </ul>

</body>

</html>