<!DOCTYPE html>
<html lang="en">
<style>

</style>

<head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <meta charset="UTF-8">
    <title>Profesores</title>
</head>

<body>
    <h1>Profesores</h1>
    <div>
        <form method="POST" action="{{ url_for('profesores') }}">
            <div>
                <label for="fName">First Name:</label>
                <input type="text" id="fName" name="fName">
            </div>
            <div>
                <label for="lName">Last Name:</label>
                <input type="text" id="lName" name="lName">
            </div>
            <div>
                <label for="matricula">Matricula:</label>
                <input type="text" id="matricula" name="matricula">
            </div>

            <div>
                <label for="nomina">Nomina:</label>
                <input type="text" id="nomina" name="nomina">
            </div>

            <div>
                <label for="DOB">Date of Birth:</label>
                <input type="date" id="DOB" name="DOB">
            </div>
            <div>
                <label for="direccion">Address:</label>
                <input type="text" id="direccion" name="direccion">
            </div>
            <div>
                <label for="curp">Curp:</label>
                <input type="text" id="curp" name="curp">
            </div>
            <div>
                <label for="telefono">Telefono:</label>
                <input type="number" id="telefono" name="telefono">
            </div>

            <div>
                <label for="departamentoID">departamentoID:</label>
                <input type="text" id="departamentoID" name="departamentoID">
            </div>


            <div>
                <label class="radio">
              <input type="radio" name="sex" value="F">
              F
            </label>
                <label class="radio">
              <input type="radio" name="sex" value="M">
              M
            </label>
            </div>

            <input type="submit" value="Insert">
        </form>
    </div>

    <hr>
    <h2>Search profesor</h2>
    <div class="inputs">
        <form method="GET" action="{{ url_for('profesores') }}">
            <!--Cambiar aqui-->
            <label for="nominas">No nomina:</label>
            <input type="text" id="nominas" name="nominas">
            <label for="memberNames">Name:</label>
            <input type="text" id="memberNames" name="memberNames">
            <input type="submit" value="Submit">
        </form>
    </div>
    <table id="Profesores" style="width:100%">
        {% if result %}
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Matricula</th>
            <th>nomina</th>

            <th>telefono</th>
            <th>curp</th>
            <th>departamento id</th>

            <th>sex</th>
            <th>Address</th>
            <th>DOB</th>

        </tr>
        {% for row in result %}
        <tr>
            <td> {{ row.fName }}</td>
            <td> {{ row.lName }}</td>
            <td> {{ row.matricula }}</td>
            <td> {{ row.nomina }}</td>

            <td> {{ row.telefono }}</td>
            <td> {{ row.curp }}</td>

            <td> {{ row.departamentoID }}</td>

            <td> {{ row.sex }}</td>
            <td> {{ row.direccion }}</td>
            <td> {{ row.DOB }}</td>

        </tr>
        {% endfor %} {% endif %}
    </table>

    <hr>

    <h2>Borrar Profesor</h2>
    <form method="POST" action="{{ url_for('del_profesor') }}">
        <!--Cambiar aqui-->
        <div>
            <label for="matriculadel">No Matricula:</label>
            <input type="text" id="matriculadel" name="matriculadel">
            <input type="submit" value="Submit">
        </div>
    </form>
</body>

</html>