<!DOCTYPE html>
<html lang="en">
<style>

</style>

<head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <meta charset="UTF-8">
    <title>Alumnos</title>
</head>

<body>
    <h1>Alumnos</h1>
    <div>
        <form method="POST" action="{{ url_for('students') }}">
            <div>
                <label for="fName">First Name:</label>
                <input type="text" id="fName" name="fName">
            </div>
            <div>
                <label for="lName">Last Name:</label>
                <input type="text" id="lName" name="lName">
            </div>
            <div>
                <label for="matricula">Matricula:</label>
                <input type="text" id="matricula" name="matricula">
            </div>

            <div>
                <label for="dob">Date of Birth:</label>
                <input type="date" id="dob" name="dob">
            </div>
            <div>
                <label for="direccion">Address:</label>
                <input type="text" id="direccion" name="direccion">
            </div>
            <div>
                <label for="curp">Curp:</label>
                <input type="text" id="curp" name="curp">
            </div>
            <div>
                <label for="telefono">Telefono:</label>
                <input type="number" id="telefono" name="telefono">
            </div>
            <div>
                <label for="celular">Celular:</label>
                <input type="number" id="celular" name="celular">
            </div>
            <div>
                <label for="carreraID">Carrera:</label>
                <input type="number" id="carreraID" name="carreraID">
            </div>

            <div>
                <label class="radio">
              <input type="radio" name="sex" value="F">
              F
            </label>
                <label class="radio">
              <input type="radio" name="sex" value="M">
              M
            </label>
            </div>

            <input type="submit" value="Insert">
        </form>
    </div>

    <hr>
    <h2>Search student</h2>
    <div class="inputs">
        <form method="GET" action="{{ url_for('students') }}">
            <!--Cambiar aqui-->
            <label for="matricula">No:</label>
            <input type="text" id="matricula" name="matricula">
            <label for="memberName">Name:</label>
            <input type="text" id="memberName" name="memberName">
            <input type="submit" value="Submit">
        </form>
    </div>
    <table id="Alumnos" style="width:100%">
        {% if result %}
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Matricula</th>
            <th>telefono</th>
            <th>celular</th>
            <th>curp</th>
            <th>carreraID</th>

            <th>sex</th>
            <th>Address</th>
        </tr>
        {% for row in result %}
        <tr>
            <td> {{ row.fName }}</td>
            <td> {{ row.lName }}</td>
            <td> {{ row.matricula }}</td>
            <td> {{ row.telefono }}</td>
            <td> {{ row.celular }}</td>
            <td> {{ row.curp }}</td>

            <td> {{ row.carreraID }}</td>

            <td> {{ row.sex }}</td>
            <td> {{ row.address }}</td>
        </tr>
        {% endfor %} {% endif %}
    </table>

    <hr>

    <h2>Borrar Alumno</h2>
    <form method="POST" action="{{ url_for('del_members') }}">
        <!--Cambiar aqui-->
        <div>
            <label for="matricula">No Matricula:</label>
            <input type="text" id="matricula" name="matricula">
            <input type="submit" value="Submit">
        </div>
    </form>
</body>

</html>